h1.heading__1{
    text-align: center;
    margin: 2rem 0;
    font-weight: 500;
}

h2.heading__2{
    padding: 1rem;
    font-weight: 400;
}

h3.heading__3{
    text-align: center;
    margin: 1rem 0;
}

.title__tab{
    cursor: pointer;
    background-color: #2A7EFF;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem 0;
    justify-content: space-between;
    border-radius: 5px;
    color: aliceblue;

}

.plus__minus{
    padding: 1rem;
}

ul.card__grid {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}

.hidden{
    display: none;
}

li.card{
    list-style-type: none;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; 
}

.parragraph {
    margin: 1rem 0;
}