h1.heading__1{
    text-align: center;
    margin: 2rem 0;
}

h2.heading__2{
    margin: 2rem 0;
    padding: 2rem;
    background-color: cyan;
    cursor: pointer;
}

h3.heading__3{
    text-align: center;
    margin: 1rem 0;
}

ul.card__grid {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}

.hidden{
    display: none;
}

li.card{
    list-style-type: none;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; 

}